{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src/"],
                "alias": {
                    "@components": "./src/components",
                    "@hooks": "./src/hooks",
                    "@i18n": "./src/i18n",
                    "@utils": "./src/utils",
                    "@configs": "./src/configs",
                    "@reusableComponents": "./src/components/reusableComponents"
                }
            }
        ]
    ]
}
