# Ignore artifacts:
build
coverage

# Ignore public files
**/public/**


# Ignore all HTML files:
*.html

# Ignore all env files:
.env*

# Ignore public files
**/data/**

# Ignore next.js files
.next/