.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: inherit;
    width: 100%;
}

.back1 {
    width: 100%;
}

.back2 {
    width: 100%;
}

.logoArea {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registrationArea {
    display: flex;
    padding: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
Q .registrationInput {
    margin-bottom: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 60%;
    position: relative;
}
