.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 30vh 0;
    position: relative;
}

.back1 {
    width: 100%;
    position: absolute;
    top: 0;
}

.back2 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.registrationArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
